:root {
  --cell-size: 2.2rem;
  --cell-info-size: 1rem;
  --ship-selected: #eb202c;
  --ship-missed: #20b5eb;
}

.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.cell {
  display: inline-block;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #360940;
  background: #dfe3ee;
  box-sizing: border-box;
  vertical-align: bottom;
}

.cell:hover {
  opacity: 0.7;
}

.ship {
  background: var(--ship-selected);
}

.selected {
  background: var(--ship-missed);
}

.ship-block {
  display: inline-block;
  width: var(--cell-info-size);
  height: var(--cell-info-size);
  border: 1px solid #eee;
  background: var(--ship-missed);
  box-sizing: border-box;
}

.revealed {
  background: var(--ship-selected);
}
