body {
  font-family: "Edit Undo BRK", sans-serif;
  text-align: center;
  height: 100vh;
  background-image: url("https://opengameart.org/sites/default/files/Preview_143.png");
  background-repeat: space;
}
